@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');
* {
    --black: #010101ff;
    --light-gray: #cecdccff;
    --tuscany: #c39b93ff;
    --copper-red: #cd7858ff;
    --black-2: #000000ff;

}
img {
    width: 25%;
    align-items: center;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    color: var(--black);
    background-color: var(--light-gray);
}
main {
    align-items: center;
}
